table, th, td {
	margin-top: 50px;
	margin-left: 250px;
    border: 1px solid black;
       border-collapse: collapse;
}

h1
{
	padding-left: 450px;
	padding-bottom: 10px;
}
h3
{
	padding-left: 850px;
}
label.acc
{
	font-weight:bold;
}
div.acc
{
	margin-left: 30px;
}
th
{
	text-align: center;
}
th {
    padding: 15px;
}
td
{
	padding-right: 15px; 
}
div.last
{
	margin-left: 400px;
}