h1
{
	padding-left: 250px;
	padding-bottom: 150px;
}
form
{
	padding-left: 400px;
	padding-bottom: 20px;
}

label.ustxt
{
	padding-right: 5px;
}
label.pastxt
{
	padding-right: 15px;
}
div.last
{
	padding-left: 450px;
}
button.Clear
{
	padding-left: 250px;
}